<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><lord-icon
    src="https://cdn.lordicon.com/fxtblcmc.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>BANNERS</title>
    <link rel="stylesheet" href="/admins/css/admin.css">
    <link rel="stylesheet" href="/admins/css/product.css">
<script src="https://cdn.lordicon.com/lordicon.js"></script>
</head>
<body>
    <div class="continer">
        <div class="layer1">
            
            <div class="searchBar">
                <!-- <input type="text" placeholder="  search product" class="searchBar1"> -->
            </div>
            <!-- <div class="logout">
                <button class="btn1">LOGOUT</button>
            </div> -->
        </div>
        <div class="layer2">
            <div class="tabs">
                <ul>
                    <li onclick="window.location.href='/dashboard'">
<lord-icon
    src="https://cdn.lordicon.com/dqrpfjei.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>DASHBOARD</li>
                    <li onclick="window.location.href='/admin/users'"><lord-icon
    src="https://cdn.lordicon.com/xfzuyvam.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>USERS</li>
                    <li onclick="window.location.href='/admin/products'"><lord-icon
    src="https://cdn.lordicon.com/amlwgnug.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>PRODUCTS</li>
                    <li onclick="window.location.href='/admin/category'"><lord-icon
    src="https://cdn.lordicon.com/kpvuihyi.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>CATEGORY</li>
                    <li onclick="window.location.href='/admin/coupen'"><lord-icon
    src="https://cdn.lordicon.com/nlmjynuq.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>COUPONS</li>
                    <li onclick="window.location.href='/admin/orders'"><lord-icon
    src="https://cdn.lordicon.com/guothkao.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>ORDERS</li>
                    <li onclick="window.location.href='/admin/banner'"><lord-icon
    src="https://cdn.lordicon.com/fxtblcmc.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon>BANNERS</li>
<div class="logout">
    <button class="btn1">LOGOUT</button>
</div>
                </ul>
            </div>
            <div class="content_part">

                <div class="products_list_head">
                    <p style="font-size: x-large; padding-left: 1.5rem;">Banners</p>
                    <button class="add_product_btn_admin">Add Banner</button>
                </div>

                <div class="product_list">
                    <div class="product_table">
                        <table>

                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Banner ID</th>
                                    <th>Banner Name</th>                                     
                                    <th>Amount</th>
                                    <th>Starting Date</th>
                                    <th>Ending Date</th>
                                    <th>Edit</th>
                                    <th>Delete</th>                                                                                                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>56KSVZZZZZ6788666</td>
                                    <td>AXGY5677554765</td>
                                    <td>1000</td>                                                                               
                                    <td>02/01/2023</td>
                                    <td>02/01/2024</td>
                                    <td>
                                        <i class="bi bi-pencil-square"></i>
                                    </td>
                                    <td>
                                        <i class="bi bi-trash-fill"></i>
                                    </td>
                                </tr>
                            </tbody>
    
                        </table>
                    </div>
                </div>

                         
            </div>
        </div>
    </div>
</body>
</html>