<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add profile</title>
</head>
<body>
    
<div class="user-form">
   
    <label for="Username">Name:</label>
    <input type="text" id="name" placeholder="John Doe" name="name" value="<%=user.Username %>" required>

    <label for="number">Number:</label>
    <input type="text" id="number" placeholder="1234567890"  name="phone"  value=" <%=user.phone %> "  required>

    <label for="email">Email:</label>
    <input type="email" id="email" placeholder="john.doe@example.com"  name="email"  value=" <%=user.email %> " required>

    <label for="dob">DOB:</label>
    <input type="date"  name="DOB" id="dob" required>



    <label for="gender">Gender:</label>
    <select id="gender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>

    <button type="submit">Submit</button>

</div>

<style>
     body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            background-color: #f4f4f4;
        }

        .user-form {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 4px;
        }

        button:hover {
            background-color: #0056b3;
        }
</style>
</body>
</html>