<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title </title>
  <link rel="shortcut icon" href="images/cartlogo.png" type="image/x-icon" />
  <link rel="stylesheet" href="/users/css/address.css">
</head>
<body>
 
  <div class="addresspage">
   
    <div class="new">
      <form action="/address" method="post" class="addressform">
        <h2 class="newaddress">New Address:</h2>
        <br />
        <label for="houseNumber">House Number:</label>
        <input type="text" id="houseNumber" name="houseNumber" required />
        <label for="locality">Locality:</label>
        <input type="text" id="locality" name="locality" required />
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required />
        <label for="state">State:</label>
        <input type="text" id="state" name="state" required />
        <label for="pinCode">Pin Code:</label>
        <input type="number" id="pinCode" name="pinCode" required />
        <button type="submit" class="addbtn">Add Address</button>
      </form>
    </div>
  </div>
    <script src="/js/count.js"></script>
</body>
</html>