<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot</title>
    <link rel="stylesheet" href="/users/css/forgot.css">
</head>
<body>
<div class="container">
    <div class="main">
        <form action="/forgot"   method=" post">

            <label   for=""> new password</label> 
            <input type="text" name="" id=""> 
            <label for="">confirm passsword</label> 
            <input type="text" name="" id="">
            <button  type="submit"> reset</button>
        </form>
    </div>
</div>


    
</body>
</html>