<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/users/css/login.css">
</head>
<body>
    
    <div class="all">
        <form action="login" method="post">
          
          <img style="opacity: 0.5;" src="/logo/juu-cart-high-resolution-logo-transparent.png" alt="Logo">
          <h3 class="log">LOGIN</h3>
    
          <label for="email" style="color: rgb(230, 84, 84);">Email</label>
          <input type="text" placeholder="xyz@gmail.com" id="email" name="email" autocomplete="email" value="ajmalcc5250@gmail.com">
    

          <label for="password">Password</label>
          <input type="password" placeholder="********" id="password" name="password" autocomplete="current-password" value="123">
    
          <button class="button" type="submit">Log In</button>
          <p  class="forgot"><a  href="forgot">forgot password</a></p>
          <div class="down">
            <div class="signup">Don't have an account? <a href="/signup">Sign-up</a></div>     
          </div>
        </form>
    </div>
</body>
</html>
