<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>otp</title>
    <link rel="stylesheet" href="/css/otp .css">
</head>
<body>
    <%- include('header.ejs') %>


        <div class="container">
            <div class="card">
        <div class="form">

            <form action="/otp" method="post">
                <label for="">Please Enter Otp  </label><br>
                <input  class="inp" type="text" name="otp" id="otp">  <br> 
                <button class="btn" type="submit">submit</button>
            </form>
     </div>
    </div>
        </div>

</body>
</html>