<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/users/css/signup.css">
</head>
<body>
  
    

    <div class="all">
        <div class="frm">
          <form action="/signup" method="post"> 
          <img src="images/logo.png" alt="">
          <h3>SIGN-UP</h3>
    
          <label for="Username">Username</label>
          <input type="text" placeholder="Your Name" id="username" name="Username">
    
          <label for="email" id="emailLabel">Gmail</label>
          <input type="email" placeholder="xyz@gmail.com" id="emailInput" name="email">
    
          <label for="phone">Phone</label>
          <input type="number" placeholder="Your phone no." id="phone" name="phone">
    
          <label for="password" id="passwordLabel">Password</label>
          <input type="text" placeholder="********" id="passwordInput" name="password">
    
          <label for="confirmPassword">Confirm Password</label>
          <input type="text" placeholder="********" id="confirmPassword" name="confirmpassword">
    
          
    
          <button type="submit">Sign Up</button>
    
          <div class="down">
            <div class="login">Already have an account? <a href="/user/login">Login</a></div>
          </div>
          
        </form>
      </div>
      </div>

</body>
</html>