<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/users/css/wishlist.css">
</head>
<body>
  <div class="container">
    <div class="content">
<% data.forEach((wishlist)=> { %>


      <div class="box">
        <div class="imageArea">
          <img src="/productImages/<%= wishlist.Image[0] %>" alt="" width="90%" height="90%">
        </div>
        <div class="textarea">
          <div class="heading">
            <h1><%= wishlist.productName %></h1>
          </div>
          <div class="buttons">
            <button   type="button" >Add to cart</button>
            <button>Remove</button>
          </div>
        </div>
      </div>
      <%  }) %>
    </div>
  </div>
</body>
</html>