*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  .all{
    height: 800px;
    width: 100vw;
  
    background: #000000;

  }
  form{
    height: 620px;
    width: 500px;
    background-color: rgba(176, 174, 174, 0.062);
    position: absolute; 
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 30px 35px;
    font-family: 'Poppins',sans-serif;
    color: white;
    box-shadow: 0 0 15px 1px rgb(18, 18, 18); 
  }
  form h3{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
  }
  label{
    display: block;
    margin-top: 18px;
    font-size: 16px;
    font-weight: 500;
  }
  input{
    display: block;
    height: 35px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.105);
    padding: 0 10px;
    margin-top: 4px;
    font-size: 15px;
    font-weight: 300;
    border: none;
    color: white;
  }
  input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
  }
  ::placeholder{
    color: #989696ad;
  }
  button{
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  .down{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login{
    font-size: 18px;
  }
  a{
    text-decoration: none;
    color: rgb(110, 222, 98);
  }
  .social{
    margin-top: 18px;
    display: flex;
    gap: 25px;
  }
  .fa-brands{
    font-size: 20px;
  }
  .redLabel{
    color: red;
  }
  