<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <!-- Check the path to your CSS file -->
    
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <!-- Footer -->

    <footer>
        <div class="footer-1">


                <ul class="footer-links">

                   
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- Column 2: Social Media Icons -->
            <div class="footer-2">
<div class="footer-logo">
                <img src="logo/juu-cart-high-resolution-logo-white-transparent.png" alt=""  width="135px">
            </div>



            </div>
            <div class="footer-3">
                <a href="https://www.instagram.com/muhammed_ajmalcc/?igshid=NzZlODBkYWE4Ng%3D%3D&utm_source=qr"><img src="logo/instagram-1-svgrepo-com.svg" alt=""  width="35px"></a>
                <a href=""><img src="logo/linkedin-svgrepo-com.svg" alt=""  width="40px"></a>
                 <a href=""> <img src="logo/facebook-color-svgrepo-com.svg" alt="" width="30px" ></a>
            </div>
        
           
        </div>
     <div class="footer-4">
        <form action="">

            <label  class="footer-text" for="">email</label><br>
            <input class="footer-inp" type="text" name="" id=""><br>
            <button  class="footer-btn" type="submit">submit</button>
        </form>
     </div>
    </footer>

    <!-- <div class="footer-last">
        <p class="copyright">&copy; 2024 Your Website. All rights reserved.</p>
    </div> -->

</body>
</html>
