<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/commons/css/header.css">
   <!-- <link rel="stylesheet" href="../public/css/header.css"> -->
</head>
<body>
   
    
  
<!-- header -->


<header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="#" class="logo">
        <img class="juu"  src="/logo/juu-cart-high-resolution-logo-transparent.png"   alt="logo" width="90" height="31"  >
      </a>
      <div class="header-search">
        <input type="search" name="search" placeholder="Search Product..." class="input-field">

        <button class="search-btn" aria-label="Search">
          <ion-icon name="search-outline"></ion-icon>
        </button>
      </div>


      <div class="header-actions">

        <button class="header-action-btn">
          <!-- <ion-icon name="person-outline" aria-hidden="true"></ion-icon> -->
      <a href="">    <img src="/logo/logout-svgrepo-com.svg" alt=""  width="30px"> </a>

          <p class="header-action-label">logout</p>
        </button>

        <button class="header-action-btn">
          <!-- <ion-icon name="search-outline" aria-hidden="true"></ion-icon> -->
           <a href=""> <img src="/logo/search-svgrepo-com.svg" alt="" width="30px"></a>

          <p class="header-action-label">Search</p>
        </button>

        <button class="header-action-btn">
          <!-- <ion-icon name="cart-outline" aria-hidden="true"></ion-icon> -->
       <a href="">  <img src="/logo/cart-shopping-svgrepo-com.svg" alt="" width="30px"> </a> 

          <p class="header-action-label">Cart</p>

          <!-- <div class="btn-badge green" aria-hidden="true"></div> -->
        </button>

        <button class="header-action-btn">
          <!-- <ion-icon name="heart-outline" aria-hidden="true"></ion-icon> -->
        <a href="">  <img src="/logo/wishlist-svgrepo-com.svg" alt=""  width="30px"> </a>

          <p class="header-action-label">Wishlist</p>

          <!-- <div class="btn-badge" aria-hidden="true"></div> -->
        </button>

      </div>

      <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">
        

          <a href="#" class="logo">
            <img src="/logo/juu-cart-high-resolution-logo-transparent.png" alt="" width="90px">
            <!-- <img src="./juu-cart-high-resolution-logo-transparent.png" alt="logo" width="130" height="31"> -->
          </a>

          <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
            <ion-icon name="close-outline"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Service</a>
          </li>

          <li>
            <a href="#" class="navbar-link">About</a>
          </li>

          <li>
            <a href="#blog" class="navbar-link">Cetogery</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Contact</a>
          </li>

        </ul>

      </nav>

    </div>
  </header>

<script src="/js/header.js"></script>
</body>
</html> 