<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="css/header.css">
   <!-- <link rel="stylesheet" href="../public/css/header.css"> -->
</head>
<body>
   
    <nav>
        <div class="logo">
         <img src="/logo/juu-cart-high-resolution-logo-white-transparent.png" alt="" width="90px">
        </div>
        <div class="inp"><input type="text">
        <img  class="search_img" src="/logo/search-svgrepo-com.svg" alt=""  width="20"></div>            
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">cetagory</a></li>
            <li><a href="#"><img src="/logo/cart-shopping-svgrepo-com.svg" alt="" srcset=""  width="30px"></a></li>
            <li><a href="#"><img src="/logo/wishlist-svgrepo-com.svg" alt=""   width="30px"></a></li>
            <li><a href="#"><img src="/logo/profile-1341-svgrepo-com.svg" alt="" width="25px"></a></li>
            <li><button   class="log"><a href="">logout</a></button></li>

        </ul>

        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>  

</body>
</html> 